
@{
    ViewData["Title"] = "Dev Feature";
}
<style>
     body {
        background-color: #ffc34d
    }
    h1 {
        font-size: 58px;
    }
    .marq {
       color: #ffe6ff;
       font-size:32px;
    }
    .img {
        background-color: blue;
        float: right;
    }
</style>

<h1>Index</h1>

<marquee class="marq" bgcolor="Green" direction="left" loop="">
    I am a gud feature. Plz send bacon.
</marquee>

<img resource="/linkthatdoesntwork.jpg" width="500" height="800" class="img"/>
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut posuere risus. Cras lectus eros, mollis ut velit non, porttitor fermentum sapien. Praesent semper leo ut orci condimentum vehicula. Pellentesque ut lobortis tellus. Sed quam arcu, lobortis sed ipsum non, vulputate consectetur ligula. Phasellus egestas cursus erat, sed ornare felis ultricies ac. Cras tristique sem urna, in ultricies ligula venenatis ut. Sed sed tellus in neque iaculis ultricies a sit amet nulla. Etiam scelerisque risus eget vulputate ullamcorper. Duis fringilla ante eu mattis congue. Nunc sapien lorem, rhoncus eu elementum vel, efficitur vitae lacus. Quisque ac eros libero. Aenean eu eleifend justo. Proin eleifend euismod diam, sed tempor sapien imperdiet sit amet. Praesent condimentum volutpat nisi, nec pellentesque est hendrerit dignissim.

    Suspendisse nec lacus quis ligula pretium efficitur. Aliquam ut venenatis justo, ac aliquet ex. Proin suscipit mollis urna eget luctus. Mauris sed velit a orci dictum consectetur. Nullam lacinia erat metus, ac pretium dui consectetur vel. Morbi semper orci eu velit vehicula scelerisque. Integer eleifend mi sapien, non semper ligula fringilla non. Fusce sollicitudin iaculis nibh ullamcorper commodo. Sed dignissim rutrum dolor, non tincidunt lorem pretium vitae.

    In sit amet orci laoreet, rutrum velit nec, bibendum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi at diam faucibus velit ornare ultricies vel rutrum ipsum. Aliquam blandit vitae elit rhoncus convallis. In at mi augue. Sed felis nunc, consectetur ut lorem vel, ultricies vehicula est. Maecenas non urna tristique, egestas dolor vel, faucibus lectus. Nulla sollicitudin eleifend felis, id luctus tortor. Mauris accumsan eros quis nunc sagittis volutpat id non libero. Duis eget mi pellentesque, aliquet diam ut, condimentum turpis. Mauris turpis mi, feugiat eu nisl ac, fringilla lobortis enim. Vestibulum commodo lacus ac justo aliquet, quis hendrerit nunc mattis.
</div>

