@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: @ViewData["BackgroundColor"]
    }
    h1 {
        color: @ViewData["FontColor"];
        font-size: @ViewData["FontSize"];
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 id="configMessage">@ViewData["Message"]</h2>
</div>
