@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: @ViewData["BackgroundColor"]
    }
    h1 {
        color: @ViewData["FontColor"];
        font-size: @ViewData["FontSize"];
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["Message"]</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
